body{
	padding-bottom: 58px;
}
.left-duiqi {
	/* color: #000000; */
	margin-left: 12%;
}
.mingcheng .body h2{
	text-align: center;
	margin-top: 0;
	margin-bottom: 2%;
}
.yewu .body p{
	margin-bottom: 2%;
	width: 82%;
}
.lianxi .body{
	margin-bottom: 2%;
}

.lianxi .body .telephone{
	color:#0099FF;
	margin-left: 3.5%;
}
.lianxi .body .weixin{
	color:#0099FF;
	margin-left: 3.5%;
}
.lianxi .body img{
	width: 25px;
	height: 25px;
	margin-right: 1%;
}
.pingjia .body{
	color:#0099FF;
}
.pingjia {
	height: 80px;
}
.pingjia .body img{
	width: 25px;
	height: 25px;
	/* margin-left: 12%; */
}
.pingjia .body .chaping{
	margin-left:5%;
}
.shoucang {
	margin-top: 0px;
	position: fixed;
	bottom: 0px;
	height: 55px;
	width: 100%;
	border: 1px solid #E4E4E4;
	border-bottom: none;
	background-color: #FDFCFC;
}
.shoucang-click{
	width: 30%;
	height: 100%;
	float: left;
	border-right: 1px solid #E4E4E4;
	/* margin-top: 5px; */

	/* margin: 5px 0% 0px 0%; */
}
.shoucang-click img{
	margin: 0 25% 0 35%;
	/* width: 100%; */
}
.shoucang-click .shoucang-text{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.button-tiaozhuan{
	color: white;
    border-radius: 0px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(236, 108, 0);
    height: 55px;
    width: 69.5%;
   /*  margin: 5px 0% 0px 40%; */
    padding: 3% ;
    font-size: 1.2rem;
}
.pingjia .dianzan .num{
	color: #E30322;
}
.pingjia .chaping .num{
	color: #E30322;
}